    <tr>
        <td class="table-danger"><%= title %></td>
        <td class="table-danger"><%= price %></td>
        <td class="table-danger"><img style="width: 25px ;" src="<%= imgUrl %>" alt=""></td>
    </tr>

        